<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <!-- Bootstrap CSS -->
    <link rel='shortcut icon' type='image/x-icon' href='/img/coin.png'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Learn To Earn | Vignesh Bharathi</title>
  </head>
  <body>
    <nav class="navbar navbar-dark" style="background-color: #18191D;">
      <a class="navbar-brand" id="navnameid">
        <img src="/img/brand.png" id="imgkit" width="150" height="100" class="d-inline-block align-top" alt="">
        
      </a>
        
     <!--   <form class="form-inline">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>-->
      </nav>

      <div class="content">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 col-sm-12 ">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" width="100%" src="/img/bg.jpg" alt="Card image cap">
                <div class="card-body">
                <form method="POST" action="/">
                    <div class="form-group">
                      <label for="exampleInputEmail1"><span>You Must Learn To Earn</span></label>
                       <input type="email" id="emailid" class="form-control" name="email" placeholder="Email Address">
                      <small id="emailHelp" class="form-text text-muted">Once you enter your email id and submited check your mail</small>
                    </div>
                    <button id="btnbtn" type="submit" class="btn btn-warning" >Submit</button>
                  </form>
                </div>
              </div>
          </div>
        </div>
      </div></div>

      
        <div class="container">
          <div class="row text-center">
            <div class="col-sm"><br>
              <a href="#" style="color:#FCAF3B;font-size:30px;font-weight: 600;text-decoration: none;" ><i class="fab fa-telegram"></i> Telegram</a>
            </div>
          </div>
        </div>
      

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>