.content{
   padding-top: 10px;
   padding-bottom: 10px;
}
.navbar{
    color: #FCAF3B;
    height: 70px;
}
#navnameid{
    font-size: 30px;
    font-weight: 600;
}

.card{
    box-shadow: 2px 2px 5px 1px #dddddd;
}
#emailid{
    color: #6e6d6d;
    border: 0.5px solid rgb(197, 178, 5);
    font-weight: 500;
    font-size: 19px;
   
}
#btnbtn{
    background-color: #FCAF3B;
    color: #18191D;
    font-weight: 600;
    border-color:  #FCAF3B;
}
span{
    
    font-weight: 600;
    color: #1a1a1a;
}


#imgkit{
    margin-top: -30px;
    
}

